#header{
  position: relative;
  z-index: 8;
}
#header .container .top{
	padding: 20px 0;
}
#header .container .top h1{
	float: left;
}
#header .container .top ul.nav {
	float: right;
}
#header .container .top ul.nav li{
	float: left;
	width: 30px;
	height: 30px;
}
#header .container nav.bottom{
  
}
 
#header .container nav.bottom>ul{
  background: #EEE;

}
#header .container nav.bottom>ul>li{
	float: left;
	padding: 25px 30px;
	position: relative;
	border-right:1px solid #bbb;
	transition:all 1s ease 0s;
}
#header .container nav.bottom>ul>li>ul{
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding:0 20px;
	width: 150px;
	display: none;
	overflow: hidden;
}
#header .container nav.bottom>ul>li>ul>li{
	padding: 10px 0; 
	font-size: 12px;
  border-bottom: 1px solid #ccc; 
}
#header .container nav.bottom>ul>li>ul>li:last-child{
	border:none;
}
#header .container nav.bottom>ul>li>ul>li>a{
}
#header .container nav.bottom>ul>li:hover{
	background: #FFF;
}

#header .container nav.bottom ul li a{
	font-family: 'Museo500';
}
#header .container nav.bottom>ul>li:hover>ul{
}
